.Bande-noir{
    padding:  30px;
    background-color: rgb(31, 31, 31);
    color: white;

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.Bande-blanc{
    background-color: white;
    color: rgb(31, 31, 31);
}

.Bande-blanc-tiktok{
    background-image: url(../image/background/mc-back-g.jpg);
    color: rgb(31, 31, 31);
    border-top: solid 5px #222;
    border-bottom: solid 5px #222;
}

.Bande-bg-mc{
    padding: 30px;
    background-image: url(../image/img/dev.png);
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
}

.txt-noir{color: rgb(31, 31, 31);}