.Bande-noir{
    padding:  50px;
    background-color: rgb(31, 31, 31);
    color: white;
}

.Bande-blanc{
    padding:  50px;
    background-color: white;
    color: rgb(31, 31, 31);
}

.Bande-bg-mc{
    padding: 50px;
    background-image: url(../image/img/dev.png);
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
}

.txt-noir{color: rgb(31, 31, 31);}